[user]
	name = André Uchôa
[init]
	defaultBranch = main
[commit]
	gpgSign = true
[tag]
	forceSignAnnotated = true

[includeIf "gitdir:~/.local/src/"]
	path = .gitconfig.uchoa

[includeIf "gitdir:~/github/uchoa/"]
	path = .gitconfig.uchoa

[includeIf "gitdir:~/github/scienti/"]
	path = .gitconfig.scienti

[includeIf "gitdir:~/github/begen/"]
	path = .gitconfig.begen
