* {
  border: none;
  border-radius: 0;
  font-family: "RobotoMono Nerd Font Propo", Helvetica, Arial, sans-serif;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: rgba(04, 04, 33, 0.9);
  /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
  color: #eaeaea;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#workspaces button {
  padding: 0 5px;
  background: transparent;
  color: white;
  border-bottom: 3px solid transparent;
}

#workspaces button.focused {
  background: #64727d;
  border-bottom: 3px solid white;
}

#mode,
#clock,
#tray,
#battery,
#backlight,
#bluetooth,
#network,
#pulseaudio {
  padding: 0 10px;
}

#mode {
  background: #64727d;
  border-bottom: 3px solid #eaeaea;
}

#network.disconnected {
  color: red;
}

#pulseaudio.muted {
  color: red;
}

#pulseaudio.source-muted {
  color: red;
}

#bluetooth.connected {
  color: #26a65b;
}

#bluetooth.disabled {
  color: red;
}

#clock {
  /* background-color: #64727d; */
  border: 1px;
  border-style: dotted;
  border-color: #eaeaea;
  /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
}

/* #battery, */
/* #backlight { */
/*   background-color: #eaeaea; */
/*   color: #040421; */
/* } */

#battery.charging {
  /* color: #26a65b; */
  color: springgreen;
}

#battery.warning {
  color: gold;
}

#battery.critical {
  color: red;
}

@keyframes blink {
  to {
    /* background-color: #ffffff; */
    color: #eaeaea;
  }
}

#battery.critical:not(.charging) {
  color: red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
